* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    height: 100%;
    /* // viewport height takes 100% of the web page and not actual page, this is really good for centering games */
    /* // this gives my background a clean smooth color */
    background: linear-gradient(lightgreen, darkgreen);
    text-align: center;
  }

img {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    /* // without this it'll sit on a 2D plane being flat. This enforces the 3D effect */
    transform-style: preserve-3d;
    /* // transition shows it */
    transition: transform .5s;

}

/* h1, h2, h3, nav {
    text-align: center;
} */